@import "reset";
@import "mixin";
@import "animate";
@import "_color.scss";
// @import "_variables-fa-icons.scss";
// @import "_media.scss";
@import "var";

h1 {
  font-family: "georgia", Tahoma, 'Abyssinica SIL';
  font-weight: 400;
  @include rem(font-size,  $fz1);
  line-height:1;
}

h2, h3, h4, h5, h6 {
  @include rem(font-size, $fz2);
  @include rem(line-height, 1.16);
  font-family: 'Tahoma', "georgia", 'Abyssinica SIL';
  @include rem(margin-left, 2.375);
}



a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $color-text;
  font-family:  Tahoma, "georgia";
}

img {
  //display: block;
  max-width: 100%;
  height: auto;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.topLine {
  @include font-size($fzD);
  background: rgba(#111, .7);
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #ebebeb;
  box-shadow: 0 5px 10px rgba(#000, .5);
  font-family: "georgia";
  @include cf;
  @media(max-width: 600px) {
    top: 0;
  }
  @media(max-width: 700px) {
    text-align: center;
    i:before {
      content: "";
    }
    ul .user {
      display: none;
    }
    li {
      display: inline-block;
    }
  }

  .user {
    @include font-size($fzD);
    display: block;
    text-align: right;
    vertical-align: middle;
    margin-left: 0;
  }
  li {
    @include rem(margin-left, 1.81);
    text-align: right;
  }
  a {
    color: #ddd;
    &:after {
      border-bottom: none;
    }
  }
}

.userTel {
  font-family: Abyssinica SIL, tahoma;
  display: inline-block;
}
.userEmail{
  display: inline-block;
  @include rem(padding-left, 1)
}

.tel {
  &:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 14px;
    background-image: url("../img/tel.png");
  }
}

.email {
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 11px;
    background-image: url("../img/email.png");
  }
}

.name {
  @include rem(height, 37.81);
  background: #888  url(../img/pizza-744405-blur_1280-853.jpg) left top no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    background-image: url(../img/pizza-744405_768_512.jpg);
  }
}
.nameTitle {
  @include rem(padding-top, 16.8);
  margin-left: 8%;
  @media (max-width: 700px) {
    width: 100%;
    clear: left;
    @include rem(margin-top, 6);
    text-align: center;
  }
  h1 {
    color: rgba(#b9b8b6, 1);
    text-shadow: 0 0 5px rgba(#000, .5);
  }
  span {
    color: rgba(#b9b8b6, 1);
    font-family: "georgia-italic";
    text-shadow: 0 0 5px rgba(#000, .5);
    @include rem(font-size, $fz1);
  }
}

.nameDescription {
  @include rem(margin-top, 5.6);
  @include rem(margin-bottom, 6.06);
  @include rem(width, 20);
  margin-left: 49%;
  font-family:  'tahoma';
  @include rem(font-size, 1);
  text-shadow: 0 0 1px rgba(#fff, .3);
  color: #000;

}

article {
  box-shadow: 0 -5px 10px rgba(#000, .5);
  .container {
    > p {
      @include rem(margin-bottom, 3.813);
      @include rem(font-size, 1.6);
      @include rem(line-height, 1.45);
      @include rem(margin-left, 2.375);
    }
  }
}

.benefit {
  background: #ddd url(../img/ravenna.png) repeat;
  @include rem(padding, 6.06, 0, 7.875, 0);
  h2 {
    @include rem(font-size, 1.741);
    // text-transform: uppercase;
    @include rem(line-height, 1.16);
    font-family: Tahoma, "georgia", 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
  }
}

.owl-carousel {
  background: #fcfcfc;
}

.benefitDescription {
  @include rem(margin-top, 6.25);
  @include rem(margin-left, 2.625);
  @include rem(font-size, 1.125);
  @include rem(line-height, 1.25);
  a {
    display: block;
    @include rem(margin-top, 1.44);
    @include rem(width, 15);
    @include rem(font-size, 1.16);
    @include rem(line-height, 1.16);
    color: #817f7f;
  }
}

.foto {
  @include rem(padding, 8.81, 0, 30.5, 0);
  h2 {
    text-align: left;
    @include rem(font-size, 1.26);
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
    @include rem(margin-bottom, 4.19);
  }
  background: #111 url(../img/footer_lodyas.png);
  color: rgba(#fff, .9);
  img {
    margin: 0;
    padding: 0;
  }
}


.Collage {

  /* define how much padding you want in between your images */
  padding: 1px;
  background: rgba(#fff, 0.89);

}

.Collage img {

  /* ensures padding at the bottom of the image is correct */
  vertical-align: bottom;

  /* hide the images until the plugin has run. the plugin will reveal the images*/
  opacity: 0;

}

.clients {
  background: url(../img/city-lights-night-street.jpg);
  background-size: cover;
  color: rgba(#fff, 1);
  text-shadow: 0 0 3px #000;
  // text-align: center;
  border-top: 1rem rgba(#111, 1) solid;
  border-bottom: 1rem rgba(#111, 1) solid;
  // border-bottom-color: transparent;
  @include rem(padding, 6.74, 0, 0, 0);
  // display: table;
  h2 {
    text-align: left;
    @include rem(font-size, 1.26);
    // text-transform: uppercase;
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
    @include rem(margin-bottom, 4.19);
    // @media (max-width: 1000px) {
    //     @include rem(font-size, 1.999);
    //     @include rem(line-height, $lh*2);
    // }
  }
  h3 {
    text-align: left;
    @include rem(font-size, 1.16);
    // text-transform: uppercase;
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
    @include rem(margin-left, 1.25);
  }
  @include cf;
  @media (max-width: 768px) {
    background-image: url(../img/city-lights-night-street_768.jpg);
  }
  p {
    text-align: left;
  }
  a {

    display: inline-block;
    @include rem(margin-top, 1.44);
    @include rem(margin-left, 1.15);
    // @include rem(width, 15);
    @include rem(font-size, 1.16);
    @include rem(line-height, 1.16);
    color: #817f7f;

  }
  section {
    background: rgba(#fff, .89);
    padding: 1px;
    @include rem(padding-bottom, 17.5);
    color: #000;
    text-shadow: none;
    @include cf;
    float: left;
    width: 32%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0;
    }
    img {
      width: 100%;
      @include rem(margin-bottom, 1.44);
    }
  }
  .clientsUp {
    @include rem(margin-top, 107/16);
    @include rem(margin-left, 30/16);
    @include rem(margin-bottom, 17.5);
    display: inline-block;
  }
  .footer {
    text-align: center;
    color: #fcfcfc;
    // @include rem(font-size, 46.53/16);
    // @include rem(line-height, 38.77/16);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
  }
}


